{%load static%}
<!DOCTYPE html>

<html lang="en">

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{%static 'styles/styles.css'%}">
</head>
<title>LMS</title>

<body>
        {% block body %}
        <header>
                <img id="logo-image" src="{%static 'images/heading-image.jpg'%}" alt="LogoImage">
                <h2 id="logo">LMS</h2>
                {%block navigation%}
                <nav>
                        <li><a href="/accounts/signup">Sign up</a></li>
                        <li><a href="/accounts/login">Sign in</a></li>
                </nav>
                {% endblock %}
                <!-- <div id="hamburger-menu">
                        <img src="{%static 'icons/hamburger-menu.png'%}" alt="Menu">
                </div> -->

        </header>
        {% endblock %}
</body>

</html>