{% extends "base.html" %}
{%load static%}
{% block styles %}
<link rel="stylesheet" href="{%static 'styles/styles.css'%}">
{% endblock %}
{% block body %}
{% block scripts %}
{% endblock %}
<div id="lms-body" class="flxc">
        <div style="flex: 5 0 auto;">
                <ul class="books-list">
                {% for book in books %}
                        <li>
                                <div class="flxr" style="flex: 5 5 95%;">
                                        <img class="book-list-image" src="{%static 'images/heading-image.jpg'%}", alt="book-image">
                                        <div class="book-info flxc">
                                                <h2 class="book-title">{{book.title}}</h2>
                                                <p class="book-description">{{book.authors}}</p>
                                        </div>
                                </div>
                                {% if user.is_authenticated %}
                                <div class="flxc centered" style="flex: 1 1 5%; margin: 5px;">
                                        <input type="button" value="add to cart" onClick="addToCart(this, {{book.id}})">
                                </div>
                                {% endif %}
                        </li>
                {% endfor %}
                </ul>
        </div>
        <div id="message-console"></div>
        <div id="actions-view">
                <div id="actions">
                        <form method="POST" action="/library/books/search">
                                {% csrf_token %}
                                <label for="searchby">Search by:</label>
                                <select id="searchby" name="searchby">
                                        <option value="author">Book author</option>
                                        <option value="title">Book title</option>
                                </select>
                                <input type="text" placeholder="search" name="search-text">
                                <input type="submit" value="search">
                        </form>
                        <form method="GET" action="/library/members/{{user.id}}/cartitems">
                                {%csrf_token%}
                                <input id="checkout-button" type="submit" value="checkout">
                        </form>
                </div>
        </div>
</div>
<script src="{% static '/js/utils.js' %}"></script>
<script>
        function addToCart(element, bookid) {
                const csrftoken = getCookie("csrftoken");
                console.log(`csrf token: ${csrftoken}`);
                fetch(
                        "/library/members/{{user.id}}/cartitems",
                        {
                                "method": "POST",
                                "body": JSON.stringify({
                                        "bookid": bookid,
                                }),
                                "headers": {
                                        "X-CSRFToken": csrftoken,
                                        "Content-Type": "applicaiton/json",

                                },
                        }
                ).then((resp) => {
                        console.log(resp.ok); 
                        if (!resp.ok) {
                                resp.text().then((body) => {
                                        document.getElementById("message-console").innerHTML = body;
                                });
                                return;
                        }
                        document.getElementById("message-console").innerHTML += `<br> bookid=${bookid} added`;
                }).catch((err) => {
                        console.error(err);
                }); 
        }
</script>
{% endblock %}
