{% extends "base.html" %}
{%load static%}
{% block styles %}
<!-- <link rel="stylesheet" href="{%static 'styles/styles.css'%}"> -->
{% endblock %}
{% block body %}
{% block scripts %}
{% endblock %}
<div id="lms-body" class="flxc">
        <!-- actions view -->
        <div class="flxc centered" style="flex: 1 0 0px;padding: 10px;">
                <div class="flxr">
                        <label for="searchby">Search by:</label>
                        <select id="searchby" name="searchby">
                                <option value="author">Book author</option>
                                <option value="title">Book title</option>
                        </select>
                        <input type="text" placeholder="search" name="search-text" style="flex: 5 0 0px;">
                        <input type="button" value="search" onclick="searchBooks(updateBooksList)">
                </div>
        </div>
        <!-- books list view -->
        <div style="flex: 5 0 auto;">
                <ul id="books-list" class="books-list">
                </ul>
        </div>
        <div id="page-control-panel" class="flxr centered">
            <!-- <input type="button" value="prev" onclick="getPrevPage()">
            <input type="button" value="next" onclick="getNextPage()">     -->
        </div>
        <!-- error message view -->
        <div id="message-console" style="flex: 1 0 50px;"></div>
</div>
<script src="{% static '/js/utils.js' %}"></script>
<script>
        const DEFAULT_PAGE = 1;
        const DEFAULT_PERPAGE = 5;
        window.addEventListener("load", () => {
                fetchBooks(
                        updateBooksList,
                        `/library/books?page=${DEFAULT_PAGE}&per_page=${DEFAULT_PERPAGE}`
                );

        });

        function searchBooks(callback) {
                const url = `/library/books?page=${DEFAULT_PAGE}&per_page=${DEFAULT_PERPAGE}`;
                fetchBooks(callback, url);
        }

        // function getPrevPage() {
        //         const state = document.state.paginationState;
        //         if (page == 1) {
        //                 return;
        //         }
        //         state.page -= 1;
        //         fetchBooks(updateBooksList, state.page, state.perpage);
        // }

        // function getNextPage() {
        //         const state = document.state.paginationState;
        //         state.page -= 1;
        //         fetchBooks(updateBooksList, state.page, state.perpage);
        // }

        function updateBooksList(books) {
                const booksList = document.getElementById("books-list");
                console.log(books);
                booksList.innerHTML = "";
                Array.from(books.books).forEach((book) => {
                        const bookItem = document.createElement("li");
                        bookItem.innerHTML = `
                        <li class="book-list-item flxr">
                                <div class="flxr" style="flex: 5 5 95%;">
                                        <img class="book-list-image" src="{%static 'images/heading-image.jpg'%}", alt="book-image">
                                        <div class="book-info flxc">
                                                <h3 class="book-title">${book.title}</h3>
                                                <p class="book-description">${book.authors}</p>
                                        </div>
                                </div>
                        </li>`;
                        booksList.appendChild(bookItem);
                });
                const pageControlPanel = document.getElementById("page-control-panel");
                pageControlPanel.innerHTML = `
                        <input id="prev" type="button" value="prev" onclick="fetchBooks(updateBooksList, '${books.prev}')">
                        <input id="next" type="button" value="next" onclick="fetchBooks(updateBooksList, '${books.next}')">
                `;
                const prevButton = document.getElementById("prev");
                const nextButton = document.getElementById("next");
                
                prevButton.disabled = books.prev == '';
                nextButton.disabled = books.next == '';

        }
        function fetchBooks(callback, url) {
                const csrftoken = getCookie("csrftoken");
                fetch(
                        url, {
                                "method": "GET",
                                "headers": {
                                        "X-CSRFToken": csrftoken,
                                },
                        }
                ).then((resp)=> {
                        console.log(resp.ok); 
                        if (!resp.ok) {
                                resp.text().then((body) => {
                                        document.getElementById("message-console").innerHTML = body;
                                });
                                return;
                        }
                        resp.json().then((body) => callback(body));
                }).catch((err) => {
                        console.error(err);
                });
        }

        function addToCart(element, bookid) {
                const csrftoken = getCookie("csrftoken");
                console.log(`csrf token: ${csrftoken}`);
                fetch(
                        "/library/members/{{user.id}}/cartitems",
                        {
                                "method": "POST",
                                "body": JSON.stringify({
                                        "bookid": bookid,
                                }),
                                "headers": {
                                        "X-CSRFToken": csrftoken,
                                        "Content-Type": "applicaiton/json",
                                },
                        }
                ).then((resp) => {
                        console.log(resp.ok); 
                        if (!resp.ok) {
                                resp.text().then((body) => {
                                        document.getElementById("message-console").innerHTML = body;
                                });
                                return;
                        }
                        document.getElementById("message-console").innerHTML += `<br> bookid=${bookid} added`;
                }).catch((err) => {
                        console.error(err);
                });
        }
</script>
{% endblock %}
