{% extends "base.html" %}
{% load static %}
{%block body%}
<div class="flxc centered" style="height: 91vh;">
        <div class="flxc centered" style="background-color: gray; height: 200px; width: 300px; border-radius: 10px;">
                <div class="flxc centered" style="flex-grow: 2">
                        <p>{{msg}}</p>
                </div>
                <div class="flxc centered" style="flex-grow: 1">
                        <form action="/library/update-payment" method="POST">
                                {%csrf_token%}
                                <input type="hidden" id="payment-id" name="payment_id" value="{{payment_id}}" />
                                <input type="hidden" id="transaction-id" name="transaction_id" value="{{transaction_id}}" />
                                <input type="hidden" id="from-url" name="from_url" value="{{from_url}}" />
                                <select id="payment-state" name="payment_status" required>
                                        <option value="success">Success</option>
                                        <option value="failure">Failure</option>
                                </select>
                                <input type="submit" id="update-payment-button" value="submit" style="padding: 10px 10px; border-radius: 10px"></input>
                        </form
                </div>
        </div>
</div>
{%endblock%}
