{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static 'styles/form.css'%}">
    <style>
        html,
        body {
            width: 99%;
            height: 99%;
        }

        #signup-body {
            display: flex;
            justify-self: center;
            flex-direction: column;
            border: 1px solid #f54242;
            border-radius: 5px;
            padding: 30px;
        }
    </style>
</head>
<title>LMS Sign up</title>

<body>
    <div id="signup-body">
        <h2>LMS Sign up</h2>
        <form method="post" action="/accounts/signup">
            {% csrf_token %}
            <input type="email" placeholder="email" name="email" id="email" required>
            <input type="text" placeholder="first name" name="username" id="username" required>
            <input type="password" placeholder="password" name="password" required id="password">
            <input type="password" placeholder="retype password" required>
            <input type="submit" value="signup">
        </form>
    </div>
</body>

</html>