:root {
    --header-height: 65px;
    --foreground-color: black;
    --midground-color: lightgray;
    --background-color: white;
    font-family: Arial, sans-serif;
}

#logo {
    color: maroon;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#menu-button {
    scale: 80%;
    border: 1px solid gray;
    border-radius: 5px;
}

#menu-button:hover {
    background-color: var(--midground-color);
}

#menu-parent {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    opacity: 0%;
    opacity: 75%;
    background-color: var(--midground-color);
}

#menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 25%;
    height: 100%;
    min-width: 200px;
    z-index: 1;
    opacity: 100%;
    background-color: var(--background-color);
    box-shadow: 10px 0px 20px gray;
}

#menu-closer {
    scale: 70%;
    border: 1px solid var(--midground-color);
    border-radius: 5px;
}

#menu-closer:hover {
    background-color: var(--midground-color);
}

.cli {
    list-style-type: none;
    margin: 0px 10px;
    padding: 20px;
    border-bottom: 1px dashed var(--midground-color);
    border-top: 1px dashed var(--midground-color);
    text-align: center;
}

.cli:hover {
    background-color: var(--midground-color);
}

.cli:active {
    background-color: gray;
    /* transition: background-color 0.3s ease 0s; */
}

.hidden {
    display: none;
}

#logo-image {
    width: 48px;
    height: 48px;
    border-radius: 45px;
}

header {
    top: 0;
    height: var(--header-height);
    width: 100%;
    display: inline-flex;
    border-bottom: 2px solid red;
    align-items: center;
    padding: 3px 3px;
}

header>* {
    margin: 5px;
}

header > nav {
    position: absolute;
    right: 10px;
    list-style-type: none;
}

header > nav > li {
    display: inline-block;
    margin: 5px;
}

#lms-body {
    padding-left: 10px;
    padding-right: 10px;
    height: calc(100% - var(--header-height));
}

.flxc {
    display: flex;
    flex-direction: column;
}

.flxr {
    display: flex;
    flex-direction: row;
}

.books-list {
    padding: 0px;
}

.book-list-item {
    border-top: 1px solid var(--midground-color);
    border-bottom: 1px solid var(--midground-color);
    border-radius: 5px;
    margin: 10px 0px;
    padding: 10px 00px;
}

.books-list > li {
    list-style-type : none;
}

.books-list > li:hover {
    background-color: var(--midground-color);
}

.centered {
    align-items: center;
    justify-content: center;
}

.book-list-image {
    width:48px;
    height: 48px;
    border-radius: 5px;
    place-self: center;
    margin-right: 2px;
}

.book-info {
    margin-left: 5px;
}

.book-title {
    margin: 0px;
}

.book-description {
    color: gray;
    font-size: 13px;
}

#book-info h2, p {
    margin: 4px;
}
