:root {
    --header-height: 65px;
}

#logo {
    color: red;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#logo-image {
    width: 48px;
    height: 48px;
    border-radius: 45px;
}

header {
    top: 0;
    height: var(--header-height);
    width: 100%;
    display: inline-flex;
    border-bottom: 2px solid red;
    align-items: center;
    padding: 3px 3px;
}

header>* {
    margin: 5px;
}

nav {
    position: absolute;
    right: 10px;
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin: 5px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: calc(100% - var(--header-height));
    padding-left: 10px;
    padding-right: 10px;
}

#books-view {
    flex: 5 0 auto;
    background-color: pink;
}

#books-list {
    padding: 0px;
}

#books-list li {
    list-style-type: none;
    display: flex;
    border-radius: 5px;
    flex-direction: row;
}

#books-list li:hover {
    background-color: lightgray;
}

#book-info-container {
    display: flex;
    flex-direction: row;
    flex: 4 0 90%;
}

#book-select-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 10%;
}

#book-image {
    width:48px;
    height: 48px;
    border-radius: 5px;
    place-self: center;
    margin-right: 2px;
}

#book-info {
    margin-left: 2px;
    flex-direction: column;
}

#book-description {
    color: gray;
    font-size: 13px;
}

#book-info h2, p {
    margin: 4px;
}

#book-select {
}

#actions-view {
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 0px;
}

#actions {
    display: inline-flex;
    width: 100%;
}
